{{define "docment.html"}}
    {{template "no-index-header" .}}
    <link rel="stylesheet" href="../../static/editor.md/css/editormd.preview.css" />
    <div class="container-fluid">
        <div class="row">
            <!--显示文档信息-->
            <div class="col-md-8 ">
                <!--js根据参数在指定位置插入html-->
                <div id="test-markdown-view">
                    <textarea style="display:none;" id="doc_content">
                    </textarea>
                </div>
            </div>

            <div class="col-md-4 ant-divider-vertical">
                <!--侧边栏放什么还没想好-->
            </div>
        </div>
    </div>
    <script>
        String.prototype.format = function(args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if(args[key]!=undefined){
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg= new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }
    </script>
    <script>
        var docContetnTmp = document.getElementById("doc_content");
        var doc = JSON.parse({{.doc}})
        //let authStr = authTmp.format(doc.Auth);
        let ContentStr = doc.Content;
        docContetnTmp.insertAdjacentHTML("afterbegin",ContentStr)

    </script>

    <script src="../../static/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../static/editor.md/editormd.js"></script>
    <script src="../../static/editor.md/lib/marked.min.js"></script>
    <script src="../../static/editor.md/lib/prettify.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var testView = editormd.markdownToHTML("test-markdown-view", {
                // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                // htmlDecode : true,  // Enable / disable HTML tag encode.
                // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
            });
        });
    </script>
    {{template "footer" }}
{{end}}