{{define "edit.html"}}
    {{template "no-index-header" .}}
    <link rel="stylesheet" href="../../static/editor.md/css/editormd.css" />
    <br>
    <div class="row">
        <div class="col-md-4 m-auto col-sm-3">
            <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">标题</span>
                </div>
                <input type="text" id="doc_title" class="form-control" value="{{.doc_title}}" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 m-auto ">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">上传人</span>
                </div>
                <input type="text" id="doc_auth" class="form-control" value="{{.doc_auth}}" required>
                <div class="input-group-append ">
                    <button class="btn btn-primary btn-doc-submit">提交更改</button>
                </div>
            </div>

        </div>
    </div>

    <div id="doc-editor">
        <textarea class="editormd-markdown-textarea" name="$id-markdown-doc" id="doc_content"></textarea>
    </div>

    <script src="../../static/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../static/editor.md/editormd.min.js"></script>
    <script src="../../static/myJs/time_trans.js"></script>
    <script>
        var docContentTmp = document.getElementById("doc_content");
        docContentTmp.insertAdjacentHTML("afterbegin",{{.doc_content}});
        var message = {{.warn}};
        if( message !== "" ) {
            alert(message)
        }
    </script>
    <script type="text/javascript">
        var editor
        $(function() {
            editor = editormd("doc-editor", {
                width       : "100%",
                height      : "800px",
                path        : "../../static/editor.md/lib/",
                tocm        : true, // Using [TOCM]
                tex         : true, // 开启科学公式TeX语言支持，默认关闭
                flowChart   : true, // 开启流程图支持，默认关闭
            });
        });

        // 提交编辑之后的文章信息
        $('.btn-doc-submit').click(function() {
            let title = document.getElementById("doc_title").value;
            let auth = document.getElementById("doc_auth").value;
            let md = editor.getMarkdown();
            let form = document.createElement("form");
            form.action = "/admin/doc_edit?doc_id={{.doc_id}}";
            form.method = "post";
            form.style.display = "none";

            let inputTitle = document.createElement("textarea");
            let inputAuth = document.createElement("textarea");
            let inputContent = document.createElement("textarea");

            inputTitle.name = "title";
            inputTitle.value = title;

            inputAuth.name = "auth";
            inputAuth.value = auth;

            inputContent.name = "content";
            inputContent.value = md;

            form.appendChild(inputTitle);
            form.appendChild(inputAuth);
            form.appendChild(inputContent);

            document.body.appendChild(form)
            form.submit()
        });
    </script>
    {{template "footer" }}
{{end}}