{{define "index.html"}}
    {{template "header" .}}


    <div class="container-fluid">
        <div class="row">
            <div class="m-auto center-block" ><a href="/"><img src="../../static/logo.png" width="389" height="179" alt="ReEngine搜索引擎"></a></div>
        </div>
        <div class="input-group mb-3 col-md-6 m-auto">
            <input type="text" class="form-control" id="content">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="search()">搜索一下</button>
            </div>
        </div>
    </div>
{{/*        <a href="test" class="btn-outline-primary text-center">test</a>*/}}

    {{template  "footer" }}
    <script>
        function search() {
            var content = document.getElementById("content").value;
            window.location.href = "/s?content="+content+"&offset=0"
        }
    </script>
{{end}}