{{define "login.html"}}
    {{template "header" .}}
    <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand">ReEngine</a>
    </nav>

    <div class="modal-dialog" style="margin-top: 5%;width: 350px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">登录到ReEngine</h4>
            </div>
            <div class="modal-body" id = "model-body">
                <div class="form-group">
                    <p>用户名</p>
                    <input type="text" class="form-control"placeholder="用户名" autocomplete="off">
                </div>
                <div class="form-group">
                    <p>用户名</p>
                    <input type="password" class="form-control" placeholder="密码" autocomplete="off">
                </div>
                <br>
                <p class="text-danger">{{.warning}}</p>
                <div class="form-group m-auto">
                    <button type="button" class="btn btn-success form-control ">登录</button>
                </div>
                <br>
            </div>
            <!--<div class="modal-footer">
                <div class="form-group m-auto">
                    <button type="button" class="btn btn-success form-control ">登录</button>
                </div>
            </div>-->
        </div><!-- /.modal-content -->
    </div>
    {{template "footer" }}

{{end}}