{{define "manage.html"}}
    {{template "header" .}}
    <div class="container-fluid">
        <div class="row">
            <!--显示文档信息-->
            <div class="col-md-8 ">
                <br>
                <div><h1 class="text-info">系统中的文档</h1></div>
                <div class="text-secondary">文档总数: {{.numberDoc}}</div>
                <br>
                <div id="doc"></div>
                <!--js根据参数在指定位置插入html-->

            </div>

            <div class="col-md-4 ant-divider-vertical">
                <!--上传文件-->
                <div class="modal-dialog" style="margin-top: 5%;width: 350px">
                    <div class="modal-content">
                        <div class="modal-header"><h4 class="modal-title text-center">上传新的文件</h4></div>
                        <form action="/admin/submit" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input class="form-control-file mr-sm-2" type="file" name="upload_file" multiple required >
                                <br>
                                <input class="btn btn-success form-control " type="submit" value="提交">
                            </div>
                        </form>
                    </div>
                </div>
                <!--管理员功能-->
                <div class="modal-dialog" style="margin-top: 5%;width: 350px">
                    <div class="modal-content">
                        <div class="modal-header"><h4 class="modal-title text-center">网站管理</h4></div>
                            <div class="modal-body">
                                <!--添加管理员-->
                                <form class="navbar-form" method="get" action="/admin/register">
                                    <button class="btn-info btn-lg form-control">添加管理员</button>
                                </form>
                                <br>
                                <!--更新索引-->
                                <form class="navbar-form" method="get" action="/admin/update_index">
                                    <button class="btn-warning btn-lg form-control" onclick="return confirm('索引每日自动更新，手动更新可能影响用户体验。是否确定更新')">更新索引</button>
                                </form>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {{template "footer" }}

    <script>
        String.prototype.format = function(args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if(args[key]!=undefined){
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg= new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }
        var isAlert = {{.upload}}
        if ( isAlert === "1" ) {
            alert("文件上传成功")
        } else if ( isAlert === "0" ) {
            alert("文件上传失败")
        }
        var updateIndex = {{.index}}
        if ( updateIndex === "1" ) {
            alert("请求已提交，正在更新文档索引")
        }
        var regist = {{.regSucc}}
        if ( regist === "1" ) {
            alert("注册账户成功，现在可以用该账户登陆了")
        }
        var titleTmp = "<h3><a href=\"/s/doc/?id={0}\">{1}</a></h3>";
        var authTmp = "<p class=\"text-success\">上传者: {0}</p>";
        var contentTmp = "<p><p class='text-secondary'>大致内容:</p> {0}</p>";
        var docTmp = document.getElementById("doc");
        var numDoc = {{.numberDoc}};
        var docs = JSON.parse({{.docs}});
        for(let i = 0; i < numDoc; i++) {
            let titleStr = titleTmp.format(docs[i].Id, docs[i].Title);
            let authStr = authTmp.format(docs[i].Auth);
            let ContentStr = contentTmp.format(docs[i].Content);
            docTmp.insertAdjacentHTML("beforebegin",titleStr);
            docTmp.insertAdjacentHTML("beforebegin",authStr);
            docTmp.insertAdjacentHTML("beforebegin",ContentStr);
            docTmp.insertAdjacentHTML("beforebegin","<br>");
        }
    </script>
{{end}}