{{define "no-index-header"}}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "Shortcut icon" href = "../../static/favicon.ico">
        <link rel = "Bookmark" href = "../../static/favicon.ico">
        <link rel="stylesheet" href="../../static/editor.md/css/editormd.preview.css" />
        <title>{{.title}}</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">首页 </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <div id="to_admin"></div>
                </li>

            </ul>
            <div class="input-group col-10">
                <input type="text" class="form-control mr-0 sm-6 col-6" id="content" value="{{.content}}">
                <div class="input-group-append">
                    <button class="btn btn-primary my-2 my-sm-0" type="button" onclick="search()">搜索一下</button>
                </div>
            </div>
            <div class="my-2 my-lg-0">
                <a id="admin_button"></a>
            </div>
        </div>
    </nav>
<script>
    if ( {{.login}}) {
        document.getElementById("admin_button").innerHTML = "<a href=\"/admin/logout\" class=\"btn btn-outline-primary mr-sm-2\">登出</a>"
        document.getElementById("to_admin").innerHTML = "<a class=\"nav-link\" href=\"/admin\">ReEngine管理页面</a>"
    } else {
        document.getElementById("admin_button").innerHTML = "<a href=\"/admin/login\" class=\"btn btn-outline-primary mr-sm-2\">管理员登陆</a>"
    }
</script>
<script>
    function search() {
        var content = document.getElementById("content").value;
        window.location.href = "/s?content="+content+"&offset=0"
    }
</script>
{{end}}